
_templates

dist/
.pytest_cache/
__pychache__/

*.prof
/__pychache__
*.log
*.aux
*.pyc
*~

.ipynb_checkpoints/
Untitled*.ipynb

\#*

syllabus.pdf
syllabus.out

.cache

*egg-info

.~lock*

*.fodp

_build
.DS_Store
lectures/mywrite.txt

Esercizi/BicoccaCoursePython2024/docs/SolvedExercises